<div class="bg-main w-100 p-3 d-flex flex-column justify-content-between">
    <div class="container">
        <div class="wrap mt-5">
            <h1>{{ title }}</h1>
            <h2>Welcome {{ name }}.</h2>
        </div>
        <div class="wrap mt-5">
            <p>This is my first webpage using <fa-icon class='angular-color' [icon]="faAngular"></fa-icon>
            </p>
        </div>
    </div>
   <div class="footer">
        <ul class="list-social-networks">
            <li class="item-social-network">
                <a href="https://www.linkedin.com/in/victor-costa-jvsc/">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li class="item-social-network">
                <a href="https://github.com/costajvsc">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </li>
            <li class="item-social-network">
                <a href="mailto:someone@example.com">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </a>
            </li>
            <li class="item-social-network">
                <a href="http://api.whatsapp.com/send?phone=5561996279859&text=Olá João, visualizei o seu projeto do BitMoney e gostaria saber um pouco mais sobre ">
                    <fa-icon [icon]="faWhatsapp"></fa-icon>
                </a>
            </li>
            <li class="item-social-network">
                <a href="https://www.instagram.com/mad.joao">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
            </li>
        </ul>
        <h3 class="text-center angular-color">Find me :-)</h3>
   </div>
</div>